db
simulation
db/ELEC5566M-Mini-Project-evanso931_partition_pins.json
db/ELEC5566M-Mini-Project-evanso931.(0).cnf.cdb
ELEC5566M-Mini-Project-evanso931_nativelink_simulation.rpt
db/prev_cmp_ELEC5566M-Mini-Project-evanso931.qmsg
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.db_info
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.cdb
.gitignore
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.hdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.kpt
output_files/ELEC5566M-Mini-Project-evanso931.done
output_files/ELEC5566M-Mini-Project-evanso931.flow.rpt
output_files/ELEC5566M-Mini-Project-evanso931.map.rpt
output_files/ELEC5566M-Mini-Project-evanso931.map.summary
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/vsim.wlf
incremental_db/README
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.map.dpi
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_vmake
db/ELEC5566M-Mini-Project-evanso931.(1).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(1).cnf.hdb
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak2
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak3
db/ELEC5566M-Mini-Project-evanso931.quiproj.86292.rdr.flock
db/ELEC5566M-Mini-Project-evanso931.(2).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(2).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(3).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(3).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(4).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(4).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(5).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(5).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(6).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(6).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(7).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(7).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(8).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(8).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.ram0_LT24InitialData_61e3f525.hdl.mif
db/ELEC5566M-Mini-Project-evanso931.smp_dump.txt
db/.cmp.kpt
db/ELEC5566M-Mini-Project-evanso931.asm.qmsg
db/ELEC5566M-Mini-Project-evanso931.asm.rdb
db/ELEC5566M-Mini-Project-evanso931.cmp.bpm
db/ELEC5566M-Mini-Project-evanso931.cmp.cdb
db/ELEC5566M-Mini-Project-evanso931.cmp.hdb
db/ELEC5566M-Mini-Project-evanso931.cmp.idb
db/ELEC5566M-Mini-Project-evanso931.cmp.logdb
db/ELEC5566M-Mini-Project-evanso931.cyclonev_io_sim_cache.ff_0c_fast.hsd
db/ELEC5566M-Mini-Project-evanso931.cyclonev_io_sim_cache.ff_85c_fast.hsd
db/ELEC5566M-Mini-Project-evanso931.cyclonev_io_sim_cache.tt_0c_slow.hsd
db/ELEC5566M-Mini-Project-evanso931.cyclonev_io_sim_cache.tt_85c_slow.hsd
db/ELEC5566M-Mini-Project-evanso931.fit.qmsg
db/ELEC5566M-Mini-Project-evanso931.pplq.rdb
db/ELEC5566M-Mini-Project-evanso931.routing.rdb
db/ELEC5566M-Mini-Project-evanso931.sta_cmp.6_slow_1100mv_85c.tdb
db/ELEC5566M-Mini-Project-evanso931.sta.qmsg
db/ELEC5566M-Mini-Project-evanso931.sta.rdb
db/ELEC5566M-Mini-Project-evanso931.tiscmp.fast_1100mv_0c.ddb
db/ELEC5566M-Mini-Project-evanso931.tiscmp.fast_1100mv_85c.ddb
db/ELEC5566M-Mini-Project-evanso931.tiscmp.slow_1100mv_0c.ddb
db/ELEC5566M-Mini-Project-evanso931.tiscmp.slow_1100mv_85c.ddb
db/ELEC5566M-Mini-Project-evanso931.vpr.ammdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.ammdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.cdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.dfp
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.hbdb.cdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.hbdb.hdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.hbdb.sig
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.hdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.logdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.rrp.hdb
incremental_db/compiled_partitions/ELEC5566M-Mini-Project-evanso931.rrs.cdb
output_files/ELEC5566M-Mini-Project-evanso931.asm.rpt
output_files/ELEC5566M-Mini-Project-evanso931.cdf
output_files/ELEC5566M-Mini-Project-evanso931.fit.rpt
output_files/ELEC5566M-Mini-Project-evanso931.fit.smsg
output_files/ELEC5566M-Mini-Project-evanso931.fit.summary
output_files/ELEC5566M-Mini-Project-evanso931.jdi
output_files/ELEC5566M-Mini-Project-evanso931.pin
output_files/ELEC5566M-Mini-Project-evanso931.sld
output_files/ELEC5566M-Mini-Project-evanso931.sof
output_files/ELEC5566M-Mini-Project-evanso931.sta.rpt
output_files/ELEC5566M-Mini-Project-evanso931.sta.summary
c5_pin_model_dump.txt
db/ELEC5566M-Mini-Project-evanso931.(9).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(9).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(10).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(10).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(11).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(11).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(12).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(12).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(13).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(13).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(14).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(14).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(15).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(15).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(16).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(16).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(18).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(18).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(20).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(20).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(22).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(22).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(24).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(24).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(26).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(26).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(29).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(29).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(31).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(31).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(32).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(32).cnf.hdb
output_files/ELEC5566M-Mini-Project-evanso931.map.smsg
db/ELEC5566M-Mini-Project-evanso931.(17).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(17).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(19).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(19).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(21).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(21).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(23).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(23).cnf.hdb
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak4
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak5
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak6
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak7
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak8
db/ELEC5566M-Mini-Project-evanso931.ae.hdb
db/ELEC5566M-Mini-Project-evanso931.pre_map.cdb
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak9
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak10
simulation/modelsim/ELEC5566M-Mini-Project-evanso931_run_msim_rtl_verilog.do.bak11
db/ELEC5566M-Mini-Project-evanso931.(25).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(25).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(27).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(27).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(28).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(28).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(30).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(30).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(33).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(33).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(34).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(34).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(35).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(35).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(36).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(36).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(37).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(37).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(38).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(38).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(39).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(39).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(40).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(40).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(41).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(41).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(42).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(42).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(43).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(43).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(44).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(44).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.(45).cnf.cdb
db/ELEC5566M-Mini-Project-evanso931.(45).cnf.hdb
db/ELEC5566M-Mini-Project-evanso931.quiproj.23876.rdr.flock
db/ELEC5566M-Mini-Project-evanso931.sgate_sm_bdd.nvd
